<div id="<%= dom_id startup %>">
  <p>
    <strong>Name:</strong>
    <%= startup.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= startup.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= startup.user_id %>
  </p>

</div>
