<div id="<%= dom_id startup %>">
  <h2>
    <%= link_to startup.name, startup_path(startup) %>
  </h2>

  <p>
    <strong>Description:</strong>
    <%= startup.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= startup.user_id %>
  </p>

</div>
